# 1. Men3 kol el-files el-HTML
*.html

# 2. Istesna2 file mo3ayan (asta5demi 3alamet el-t3gb !)
!post-job.html
!view-workshops.html
!workshops.html
!index.html
!login.html
!signup.html
!profile.html
!contact.html
!about.html
!job-details.html
!post-job.html
!view-workshops.html
!workshops.html
